.header__container {
    position: relative;
    padding: 0 20px;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    column-gap: 40px;
  }


  
  @media screen and (max-width: 425px) {
    .header__container {
      flex-wrap: wrap;
      padding: 16px 21px 0;
      row-gap: 16px;
      justify-content: space-between;
    }
  }